In [55]:
import pandas as pd
import matplotlib.pyplot as plt

In [118]:
counts = (pd.read_table('res/rrs.fuse.screen1.uniq.align.screen2.press.screen3.screen4.clust.shared')
            .drop(['label', 'numOtus'],
                  axis='columns')
            .rename(columns={'Group': 'library_id'})
            .set_index('library_id')
         )
#counts

taxonomy = (pd.read_table('res/rrs.fuse.screen1.uniq.align.screen2.press.screen3.screen4.clust.tax',
                          index_col='OTU')
              .Taxonomy
              .str.split('\([0-9]*\);')
              .apply(lambda x: pd.Series(x, index=['Domain', 'Phylum',
                                                   'Class', 'Order',
                                                   'Family', 'Genus',
                                                   'Species']))
              .drop('Species', axis='columns')
           )


counts.loc[counts.index.str.startswith('cult')]

,Otu001,Otu002,Otu003,Otu004,Otu005,Otu006,Otu007,Otu008,Otu009,Otu010,...,Otu895,Otu896,Otu897,Otu898,Otu899,Otu900,Otu901,Otu902,Otu903,Otu904
library_id,,,,,,,,,,,,,,,,,,,,,
cult-D0,0,3,528,855,0,0,0,1,1261,0,...,1,0,0,0,0,0,1,0,0,0
cult-D0-solids,0,90,653,1483,6,33,17,22,1324,3,...,0,0,0,0,0,0,0,0,0,0
cult-D1-1-6,1446,5,616,6664,1220,0,2,1,1791,1,...,0,0,0,0,0,0,0,0,0,0
cult-D1-1-7,1388,7,1578,6656,5666,2,0,7,2128,0,...,0,0,0,0,0,0,0,0,1,0
cult-D1-2-6,624,6,387,10064,424,0,1,0,1192,0,...,0,0,0,0,0,1,0,0,0,0
cult-D1-2-7,1256,0,1880,5979,4150,1,1,0,2185,0,...,0,1,1,0,1,0,0,0,0,0
cult-D6-1-6,8207,2,7414,1513,7641,0,0,2,2,0,...,0,0,0,0,0,0,0,0,0,0
cult-D6-1-7,6330,44,4181,7,2895,18,17,12,6,4,...,0,0,0,0,0,0,0,0,0,0
cult-D6-2-6,3437,1,2838,1804,1822,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
cult-D6-2-7,6994,21,8333,1,4287,2,10,3,0,0,...,0,0,0,0,0,0,0,0,0,1
cult-D6-3-6,7616,46,6335,2431,4762,13,9,15,3,3,...,0,0,0,0,0,0,0,0,0,0
cult-D6-3-7,7533,9,6820,11,3196,1,4,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [78]:
spike_hits = (pd.read_table('res/rrs.fuse.blastn-spike.tsv',
                            names=['seq_id', 'spike_id',
                                   'identity', 'align_length',
                                   'mismatch', 'gapopen', 'qstart', 'qend',
                                   'sstart', 'send', 'evalue', 'bitscore'],
                            index_col='seq_id')
                [['spike_id', 'identity', 'align_length']])


# Some of the S. alask sequences hits could actually be endemic sequences
spike_hits.drop(spike_hits[lambda x: (x.spike_id == 'sphingopyxis_alaskensis') &
                                     (x.identity < 98)].index,
                inplace=True)
# Some of the OTU-1 hits are not OTU-1
spike_hits.drop(spike_hits[lambda x: (x.spike_id == 'Otu00001') &
                                     ((x.identity < 98) | (x.align_length < 215))].index,
                inplace=True)



groups = (pd.read_table('res/rrs.fuse.groups',
                        names=['seq_id', 'library_id'], index_col='seq_id'))
library = pd.read_table('res/rrs.fuse.screen1.groups.tally.tsv',
                        names=['library_id', 'tally'], index_col='library_id')

In [79]:
_data = spike_hits.join(groups).groupby(['library_id', 'spike_id']).identity.count().unstack().join(library)
_data['endemic'] = _data.tally - _data.sphingopyxis_alaskensis

In [85]:
_data['ratio'] = _data.apply(lambda x: x.endemic / (x.spikeA + x.spikeB), axis=1)
_data

,Otu00001,sphingopyxis_alaskensis,spikeA,spikeB,tally,endemic,ratio
library_id,,,,,,,
cult-D0,205.0,524.0,4185.0,2769.0,6778,6254.0,0.899339
cult-D0-solids,240.0,630.0,3296.0,1974.0,9239,8609.0,1.633586
cult-D1-1-6,74.0,597.0,5941.0,3819.0,14837,14240.0,1.459016
cult-D1-1-7,294.0,930.0,5678.0,3404.0,26945,26015.0,2.864457
cult-D1-2-6,125.0,1129.0,6441.0,3979.0,17302,16173.0,1.552111
cult-D1-2-7,178.0,617.0,4423.0,2513.0,22452,21835.0,3.148068
cult-D6-1-6,NaN,1284.0,7033.0,4499.0,26338,25054.0,2.172563
cult-D6-1-7,413.0,565.0,4116.0,2551.0,17809,17244.0,2.586471
cult-D6-2-6,NaN,338.0,4961.0,2930.0,10240,9902.0,1.254847
cult-D6-2-7,63.0,798.0,5817.0,3374.0,22264,21466.0,2.335546
cult-D6-3-6,NaN,1326.0,8805.0,5644.0,22741,21415.0,1.482109
cult-D6-3-7,1191.0,718.0,5407.0,3067.0,22892,22174.0,2.616710
spike-1-1,NaN,76.0,278.0,188.0,18369,18293.0,39.255365
spike-1-2,NaN,594.0,3614.0,1861.0,19735,19141.0,3.496073
spike-1-3,1.0,399.0,2013.0,1398.0,18460,18061.0,5.294928
spike-2-1,NaN,614.0,4814.0,2840.0,25624,25010.0,3.267573
spike-2-2,NaN,202.0,6548.0,4500.0,11167,10965.0,0.992487
spike-2-3,NaN,231.0,4648.0,3244.0,10196,9965.0,1.262671
spike-3-1,NaN,385.0,7438.0,5018.0,15082,14697.0,1.179913
spike-3-2,NaN,107.0,2998.0,2131.0,5135,5028.0,0.980308
spike-3-3,NaN,365.0,7440.0,4909.0,12035,11670.0,0.945016
spike-4-1,NaN,380.0,9027.0,6125.0,14784,14404.0,0.950634
spike-4-2,NaN,111.0,1672.0,1198.0,4520,4409.0,1.536237
spike-4-3,1.0,241.0,5183.0,3688.0,6865,6624.0,0.746703
spike-NC,NaN,6.0,24.0,27.0,24730,24724.0,484.784314